.content{

  width:60%;
  float:left;
  pading 0 0 0 30px;
  background: rgb(128, 111, 111);
}
.sidebar{

  width:40%;
  float: right;
  padding: 10;
  background: green;
  height: 100%
}
body{
color: wthite;
background-color:red;

}
#date{


  font-size: 12px ;
  font-style: italic;
  color: yellow;
}
